<div class="home-intro">
    <div class="jumbo">{{site.heading}}</div>
    <h2>{{site.subheading}}</h2>
    <div class="home-sub-text">
        <img src="{{ site.baseurl }}/assets/img/myrrhina-orbit.gif" alt="Myrrhina from Orbit" style="display: block; margin: 0 auto;">
        <h3>Welcome to Myrrhina!</h3>
        <p>Here you will find player documentation about D&D, West Marches, and Myrrhina specifically.</p>
    </div>
    <h4><a href="{{ site.baseurl }}/note/New-to-D&D">I'm new to D&D</a></h4>
    <h4><a href="{{ site.baseurl }}/note/What-is-West-Marches">I'm new to West Marches</a></h4>
    <h4><a href="{{ site.baseurl }}/note/Getting-Started">I'm new to Myrrhina</a></h4>
</div>

