<div class="home-intro">
    <div class="jumbo">{{site.heading}}</div>
    <h2>{{site.subheading}}</h2>
    <div class="home-sub-text">
        <img src="{{ site.baseurl }}/assets/myrrhina-orbit.gif" alt="Myrrhina from Orbit">
        <h3>Welcome to Myrrhina!</h3>
        <p>Here you find player documentation about D&D, West Marches, and Myrrhina specifically.</p>
    </div>
    <h4>I'm new to D&D</h4>
    <ul>
        <li>Start here</li>
    </ul>
    <h4>I'm new to West Marches</h4>
    <ul>
        <li>Start here</li>
    </ul>
    <ul>I'm new to Myrrhina</ul>
    <ul>
        <li>Start here</li>
    </ul>
</div>

